@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes:
		winter --default,
		night --prefersdark;
	root: ':root';
	include:;
	exclude:;
	prefix:;
	logs: false;
}
