@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes:
		sunset --default,
		sunset --prefersdark;
	root: ':root';
	include:;
	exclude:;
	prefix:;
	logs: false;
}
